:global(.light-theme) {
	--color-bg: #ffffff;
	--color-text: #121212;
	--color-green: #5dbd1e;
	--color-orange: #eb5905;
	--color-pink: #bd1e5e;
	--color-yellow: #f5e06a;
	--color-purple: #cb6af5;
	--color-blue: #65a6f0;
}

:global(.dark-theme) {
	--color-bg: #121212;
	--color-text: #ffffff;
	--color-green: #6af5a1;
	--color-orange: #f09a65;
	--color-pink: #f5786a;
	--color-yellow: #ebbd05;
	--color-purple: #8f05eb;
	--color-blue: #057feb;
}
