$l-background: #e0e0e0;
$l-text: #212121;
$l-green: #5dbd1e;
$l-orange: #eb5905;
$l-pink: #bd1e5e;
$l-yellow: #f5e06a;
$l-purple: #cb6af5;
$l-blue: #65a6f0;

$d-background: #121212;
$d-text: #ffffff;
$d-green: #6af5a1;
$d-orange: #f09a65;
$d-pink: #f5786a;
$d-yellow: #ebbd05;
$d-purple: #8f05eb;
$d-blue: #057feb;
